<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head'); %>


<body>
  <%- include('./partials/header'); %>
  <main class="main-home">
    <div>
      <img
        src="images/img-home-banner.jpg"
        width="100%"
        alt="Imagen con oferta"
        class="banner"
      />
    </div>
    <section>

      <h3 class="title-section">Basado en tu última visita</h3>
      <article class="card item1">
        <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="Imágen de Cafetera Moulinex">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$6.770</p>
            <span>20  % OFF</span>
            <h5 class="product-name">Cafetera Moulinex</h5>
          </div>
          
        </div>
      </article>
      <article class="card item2">
        <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="Imágen de MacBook Pro 2019">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$230.000</p>
            <span>20  % OFF</span>
            <h5 class="product-name">MacBook Pro 2019</h5>
          </div>
          
        </div>
      </article>
      <article class="card item3">
        <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="Imágen de Samsung Galaxy S10">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$70.500</p>
            <span>10  % OFF</span>
            <h5 class="product-name">Samsung Galaxy S10</h5>
          </div>
          
        </div>
      </article>
      <article class="card item4">
        <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="Imágen de SmarTv Samsung 43">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$23.200</p>
            <span>5% off</span>
            <h5 class="product-name">SmarTv Samsung 43"</h5>
          </div>
          
        </div>
      </article>
    </section>
    <section>
      <h3 class="title-section">Ofertas</h3>
      <article class="card">
        <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="Imágen de Cafetera Moulinex">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$6.770</p>
            <span>20  % OFF</span>
            <h5 class="product-name">Cafetera Moulinex</h5>
          </div>
          
        </div>
      </article>
      <article class="card">
        <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="Imágen de MacBook Pro 2019">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$230.000</p>
            <span>20  % OFF</span>
            <h5 class="product-name">MacBook Pro 2019</h5>
          </div>
          
        </div>
      </article>
      <article class="card">
        <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="Imágen de Samsung Galaxy S10">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$70.500</p>
            <span>20  % OFF</span>
            <h5 class="product-name">Samsung Galaxy S10</h5>
          </div>
          
        </div>
      </article>
      <article class="card">
        <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="Imágen de SmarTv Samsung 43">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$23.200</p>
            <span>40  % OFF</span>
            <h5 class="product-name">SmarTv Samsung 43"</h5>
          </div>
          
        </div>
      </article>
    </section>

  </main>
  <%- include("./partials/footer")  %> 
</body>

</html>