<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header header-home>
    <a href="/" class="logo" >
      <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
    </a>
    <form class="search-bar">
      <input type="search" placeholder="Buscar productos, marcas">
      <button>
        <i class="fas fa-search"></i>
      </button>
    </form>
    <p class="quota"><i class="fas fa-hand-holding-usd"></i>
      Comprá en cuotas y sin tarjeta de crédito</p>
    <nav>
      <ul class="nav-site">
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
      </ul>
      <ul class="nav-login">
        <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i> </a></li>
        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt "></i> </a></li>
        <li><a href="">Mis compras <i class="fas fa-shopping-basket "></i> </a></li>
      </ul>
    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
  </header>

  <main class="main-home">
    <div>
      <img
        src="images/img-home-banner.jpg"
        width="100%"
        alt="Imagen con oferta"
        class="banner"
      />
    </div>
    <section>

      <h3 class="title-section">Basado en tu última visita</h3>
      <article class="card item1">
        <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="Imágen de Cafetera Moulinex">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$6.770</p>
            <span>20  % OFF</span>
            <h5 class="product-name">Cafetera Moulinex</h5>
          </div>
          
        </div>
      </article>
      <article class="card item2">
        <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="Imágen de MacBook Pro 2019">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$230.000</p>
            <span>20  % OFF</span>
            <h5 class="product-name">MacBook Pro 2019</h5>
          </div>
          
        </div>
      </article>
      <article class="card item3">
        <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="Imágen de Samsung Galaxy S10">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$70.500</p>
            <span>10  % OFF</span>
            <h5 class="product-name">Samsung Galaxy S10</h5>
          </div>
          
        </div>
      </article>
      <article class="card item4">
        <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="Imágen de SmarTv Samsung 43">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$23.200</p>
            <span>5% off</span>
            <h5 class="product-name">SmarTv Samsung 43"</h5>
          </div>
          
        </div>
      </article>
    </section>
    <section>
      <h3 class="title-section">Ofertas</h3>
      <article class="card">
        <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="Imágen de Cafetera Moulinex">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$6.770</p>
            <span>20  % OFF</span>
            <h5 class="product-name">Cafetera Moulinex</h5>
          </div>
          
        </div>
      </article>
      <article class="card">
        <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="Imágen de MacBook Pro 2019">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$230.000</p>
            <span>20  % OFF</span>
            <h5 class="product-name">MacBook Pro 2019</h5>
          </div>
          
        </div>
      </article>
      <article class="card">
        <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="Imágen de Samsung Galaxy S10">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$70.500</p>
            <span>20  % OFF</span>
            <h5 class="product-name">Samsung Galaxy S10</h5>
          </div>
          
        </div>
      </article>
      <article class="card">
        <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="Imágen de SmarTv Samsung 43">
        <div class="card-content">
          <div class="icon-truck">
            <i class="fas fa-truck"></i>
          </div>
          <div class="product-info">
            <p>$23.200</p>
            <span>40  % OFF</span>
            <h5 class="product-name">SmarTv Samsung 43"</h5>
          </div>
          
        </div>
      </article>
    </section>

  </main>
  <footer class="footer-home">
    <article class="footer-article">
      <i class="fas fa-credit-card"></i>
      <h5>Pagá con tarjeta o en efectivo</h5>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
        seguro!</p>
    </article>
    <article class="footer-article">
      <i class="fas fa-gift"></i>
      <h5>Envío gratis desde $ 2.500</h5>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
        Mercado Puntos.</p>
    </article>
    <article class="footer-article">
      <i class="fas fa-user-shield"></i>
      <h5>Seguridad, de principio a fin</h5>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
        protegid@.</p>
    </article>
    <p class="copy">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
  </footer>
</body>

</html>