<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header header-home>
        <a href="/" class="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        </a>
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas">
            <button>
                <i class="fas fa-search"></i>
            </button>
        </div>
        <p class="quota"><i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul class="nav-site">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="nav-login">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-credit-card"></i> </a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt "></i> </a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket "></i> </a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <form action="/" method="GET" class="formRegister">
        <h2 class="registrarse">Iniciar sesión</h2>
            <div class="info">
                <div class="subInfo"></div>
                    <div class="subInfoInfo">
                        <label for="nombre">Nombre de usuario</label>
                        <input type="text" name="user" id="nombre" placeholder="Introducí tu nombre de usuario">
                        <span class="error-message">Usuario inexistente</span>
                    </div>

            </div>


            <div class="info">    
                <div class="subInfoInfo login">
                    <label for="pass">Contraseña:</label>
                    <input type="password" name="pass" id="pass" placeholder="Introducí tu contraseña">
                    <span class="error-message">Contraseña inválida</span>
                </div>
            </div>

            <div class="buttons">
                <div class="submitForm submitRegister">
                    <input type="submit" value="Enviar">
                </div>
            </div>


    </form>

</body>

</html>